<%= render 'layouts/header_checkr'%>
<div class="firstblock">
  <div class="container_checkr">
    <div class="first_block_content">

      <div class="firstblock_left">
        <h1>Hire great people. Faster.</h1>

        Checkr provides modern and compliant background checks for global enterprises and startups.

        <div class="menu2_right">
          <div class="menu2_dropdown with_border">
            <button class="dropbtn">Explore Now</button>
          </div>
      </div>
      </div>
      <div class="firstblock_right">
        <video preload="auto" loop="true" autoplay="true">
  					<source src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
        </video>

      </div>

    </div>
  </div>
</div>
