<% provide :stylesheets, 'flynn' %> 
<%= render 'layouts/header_flynn'%>
<div class="partie_une">
  <div class="container_flynn">
  <h1>Throw away the duct tape.
  Say Hello to Flynn.</h1>
  <%= image_tag 'flynn_demo_poster.jpg' %>
  </div>
</div>
<div class="partie_deux">
  <div class="container_flynn">
    <ul>
      <li class="">
        <a href="/apps">Apps</a>
      </li>

      <li class="">
        <a href="/manage">Manage</a>
      </li>

      <li class="">
        <a href="/databases">Databases</a>
      </li>
    </ul>

  </div>
</div>
<!--
<div class="partie_trois">
  <div class="container_flynn">



    <h2>Powerful and easy. The way it should be.</h2>
    <h4>
      <strong>Flynn is an open source platform (PaaS) for running applications in production.</strong>
    </h4>

    <p>It does everything you need, out of the box:</p>

    <div>
      <ul>
        <li>Creates running <a href="/apps">applications</a> directly from your code so there's no need to learn configuration management or build custom stacks for each app</li>
        <li>Routes and load balances traffic to every instance of each of your apps</li>
        <li>Includes built-in Postgres, MySQL, and MongoDB <a href="/databases">databases</a> with safe, automatic high availability</li>
        <li>Connects all your microservices with built-in service discovery</li>
        <li>Makes <a href="/manage">scaling</a> your cluster to just the right size easy so you save money on your cloud bills</li>
      </ul>
    </div>

  </div>
</div>
-->
