/* Liens bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}
*/

body {
  margin-top: 50px !important;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  font-size: 36px;
}

.backgroundthp{
  background-image: asset-data-url("background.jpg");
  background-image: url("background.jpg");
  background-size: cover;
  height: 100vh;

  filter: saturate(1.5);
  -webkit-filter: saturate(1.5);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}
.backgroundthp:hover{
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.pageprincipale{
  /* Ancien css
  padding-left: 10vw;
  padding-right: 10vw;
  */
  /* CSS avec la methode flex
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 90vh;
  top: 0;
  position: fixed;
  */
  z-index:1;
  position: absolute;
}

table {
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 5px;
/*
  @include box_sizing;
*/
}

input {
  height: 2.7rem;
  padding-left: 11px;
  width: 96%;

  }

.actions input{
  width:100%;
  background-color: #ede7e1;
}

.checkbox {
  margin-bottom: 10px;
}
.checkbox input {
  width: 10px !important;
  margin-left: 0px !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/*
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red-text;
  }
}
*/
