header {

    background-color: #222;
    border-color: #090909;
    border-width: 0 0 1px;

    min-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

}


.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-nav {
    margin: 0;
}
.nav {
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #fff;
    background-color: #090909;
}
