<div class="header_checkr">
  <div class="container_checkr">

    <nav class="menu1">
      <ul>
        <li><a href="#">I Am an Applicant</a></li>
        <li><a href="#">API & Docs</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Career</a></li>
      </ul>
    </nav>
    <div class="menu2">
      <div class="menu2_left">
          <a href="/"><%= image_tag "logo_checkr.svg" %></a>
          <div class="menu2_dropdown">
             <button class="dropbtn">Product</button>
             <div class="dropdown-content">
               <a href="#">Overview</a>
               <a href="#">Screenings</a>
               <a href="#">Compliance</a>
               <a href="#">Security</a>
             </div>
          </div>
          <div class="menu2_dropdown">
             <button class="dropbtn">Staffing</button>
             <div class="dropdown-content">
               <a href="#">Overview</a>
             </div>
          </div>
          <div class="menu2_dropdown">
             <button class="dropbtn">Industries</button>
             <div class="dropdown-content">
               <a href="#">Overview</a>
               <a href="#">Staffing</a>
               <a href="#">Contact Centers</a>
               <a href="#">Financial Services</a>
             </div>
          </div>
          <div class="menu2_dropdown">
             <button class="dropbtn">Resources</button>
             <div class="dropdown-content">
               <a href="#">Overview</a>
               <a href="#">Guides & White Papers</a>
               <a href="#">FAQ</a>
             </div>
          </div>
          <div class="menu2_dropdown">
             <button class="dropbtn">Compliance</button>
          </div>
      </div>
      <div class="menu2_right">
          <div class="menu2_dropdown">
            <button class="dropbtn">LOg In</button>
          </div>
          <div class="menu2_dropdown with_border">
            <button class="dropbtn">Get started</button>
          </div>
      </div>
    </div>
  </div>
</div>
