<div class="header_flynn">
  <div class="container_flynn">

    <nav class="menuflynn">
      <a href="/"><%= image_tag "logo_flynn.svg" %></a>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Try</a></li>
      </ul>
    </nav>

  </div>
</div>
